header.header.innerWrap 
    .header__banner.banner
        a.banner__link(href="https://www.cjf-expo.ru/" target="blank")  
            .banner__img
                img(src="img/common/banner.jpg", alt="Пригласительный баннер")
    ul.header__sponsors.sponsors 
        li.sponsors__item 
            a.sponsors__link(href="https://www.sima-land.ru/promo/torgovaya-marka-minaku/odezhda-i-obuv/detskaya-odezhda/") 
                img.sponsors__logo(src="img/common/sponsors/minaku.png", alt="minaku")
        li.sponsors__item 
            a.sponsors__link(href="https://www.sima-land.ru/promo/tm-kroshka-ya/odezhda-i-obuv/") 
                img.sponsors__logo(src="img/common/sponsors/kroshka ya.png", alt="kroshka ya")
        li.sponsors__item 
            a.sponsors__link(href="https://www.sima-land.ru/promo/tm-kaftan/odezhda-i-obuv/detskaya-odezhda/") 
                img.sponsors__logo(src="img/common/sponsors/kaftan.png", alt="kaftan")
        li.sponsors__item 
            a.sponsors__link(href="https://www.sima-land.ru/promo/tekstil-i-odezhda-s-lyubimymi-geroyami/odezhda-i-obuv/detskaya-odezhda/") 
                img.sponsors__logo(src="img/common/sponsors/hero.png", alt="hero")
    .header__description С 27 по 30 сентября в Москве пройдёт международная выставка «CJF – ДЕТСКАЯ МОДА-2022. ОСЕНЬ». Мы представим новые коллекции детской одежды собственных торговых марок.
    