header.header 
    .header__main 
        .header__img
            img(src="", alt="")
        .header__info 
    ul.header__sponsors.sponsors 
        li.sponsors__item 
            a.sponsors__link(href="") 
                img.sponsors__logo(src="", alt="")
        li.sponsors__item 
            a.sponsors__link(href="") 
                img.sponsors__logo(src="", alt="")
        li.sponsors__item 
            a.sponsors__link(href="") 
                img.sponsors__logo(src="", alt="")
        li.sponsors__item 
            a.sponsors__link(href="") 
                img.sponsors__logo(src="", alt="")
    .header__description 
    .link   
        a(href="#") 