@font-face {
  font-family: Acsiomasupershockc;
  font-display: swap;
  src: url("fonts/Acsiomasupershockc.woff2") format("woff2"), url("fonts/Acsiomasupershockc.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Astronc regular;
  font-display: swap;
  src: url("fonts/Astronc regular.woff2") format("woff2"), url("fonts/Astronc regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Cassandra;
  font-display: swap;
  src: url("fonts/Cassandra.woff2") format("woff2"), url("fonts/Cassandra.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
