.map.innerWrap 
    .titleWrap
        h2.title Как попасть на выставку
    ol.map__description
        li.map__item Пройти онлайн-регистрацию на 
            a(href="https://www.cjf-expo.ru/") сайте выставки.
        li.map__item С 27 по 30 сентября приехать по адресу:                                                   
        |г. Москва, Краснопресненская набережная, 14, Экспоцентр.  
    .map__content 
        .map__text Ждём вас в павильоне № 7, зал 2, стенд 72С50.
        ul.map__clocksWrap 
            li.map__title Часы работы выставки:
            li.map__text 27–29 сентября с 10:00 до 18:00;
            li.map__text 30 сентября с 10:00 до 16:00.
    .map__container
        a(href="https://yandex.ru/map-widget/v1/?um=constructor%3Ab833ffeb23fc3c0282071e5797eefccc86098b955336c7b364baf2207611fd15&source=constructor")
            img(src="img/common/map.png" alt="map") 

    .map__btn
        button(style={'background-color': '#1F84DB', 'color': '#fff', 'display':'inline-block', 'padding':'8px 20px', 'font-size':'16px','font-family':'Arial', 'font-weight':'700','border-radius':'2px'} href="https://www.cjf-expo.ru/ru/visitors/ticket/?step=step1") Зарегистрироваться

    