.map
    margin-top 28px
    &__description
        padding 0 16px
        margin-left 16px
        margin-top 22px
    &__item
        list-style decimal 
    &__content
        margin-top 12px
        padding 0 16px
        font-size 16px
    &__clocksWrap
        margin-top 8px
    &__title
        font-weight: 700
    &__container
        margin-top 28px
        margin-bottom 40px
    &__btn
        text-align center



