.about
    &__content
        display flex
        column-gap 16px
        padding 0 16px
        margin-top 20px
    &__description
        &:last-child
            margin-top 5px
         &>a
            text-decoration: underline   
    &__text
        flex-basis: 50%
        align-self: center
        font 400 16px/18.4px Arial, sans-serif
        