.about.innerWrap
    h2.title Что будет на выставке
    .about__content
        .about__img 
            img(src="img/common/girlWithBall.jpg", alt="девочка с шаром")
        .about__text
            .about__description Мы покажем новинки 2022–23 гг. торговых марок 
                    a(href="https://www.sima-land.ru/promo/torgovaya-marka-minaku/odezhda-i-obuvdetskaya-odezhda/") MINAKU
                    |, 
                    a(href="https://www.sima-land.ru/promo/tm-kaftan/odezhda-i-obuv/detskaya-odezhda/") KAFTAN 
                    | и 
                    a(href="https://www.sima-land.ru/promo/tm-kroshka-ya/odezhda-i-obuv/") «Крошка Я». 
            .about__description    
                |Вас ждут повседневная, спортивная, школьная, праздничная, домашняя одежда и 
                |чулочно-носочные изделия, а также лицензионные коллекции для детей от 0 до 14 лет.